<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <Appender name="java" class="com.splunk.logging.HttpEventCollectorLogbackAppender">
        <url>https://localhost:8088</url>
        <token>d7a8ae3f-db4a-4724-8b7a-231f456912b8</token>
        <disableCertificateValidation>true</disableCertificateValidation>

        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%msg</pattern>
        </layout>
    </Appender>

    <logger name ="splunkLogger" level="INFO">
        <appender-ref ref="splunkLogger" />
    </logger>

</configuration>